.card:hover {
  box-shadow: none;
  color: none;
}

.card:hover h3,
.card:hover p {
  color: #6c757d;
}

#submit_btn {
  color: #6c757d;
  margin-bottom: 30px;
  max-width: 100px;
  border: none;
  border-radius: 5px;
}

#submit_btn:hover {
  background: #feeae6;
  color: #ff8c75;
}

input {
  max-width: 300px;
}

#bac-title {
}
